<main class="main bg-primary">
  <div class="container row align-items-center py-2 mx-auto ">
    <div class="col-md-6 d-flex align-items-center pl-5 col-12">
      <span class="iconify fs-1 text-white" data-icon="bi:list-check"> </span>
      <p class="mt-3 ml-7 fs-1 text-white">Noticias</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="input-group rounded w-80 m-auto">
        <input
          type="search"
          class="form-control rounded rounded2 fs-3"
          placeholder="Buscar noticia"
          aria-label="Search"
          aria-describedby="search-addon"
          [(ngModel)]="userAuthor"
          id="filter"
        /><!-- filtro para buscar por titulo de noticia -->
        <span class="input-group-text border-0" id="search-addon"><!-- icono de lupa -->
          <span class="iconify" data-icon="codicon:search"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="row card-flex">
    <mat-card
      class="col-12 card mt-2"
      *ngFor="let item of dataNews | filter: userAuthor | paginate:{itemsPerPage:5, currentPage: page, totalItems: totalNews}"
    ><!-- pipes tipo filtro, paginación tamaño 5 por página hasta tamaño del arreglo -->
      <mat-card-content class="d-lg-flex justify-content-center">
        <div class="d-flex justify-content-center align-items-center p-1 ">
          <img  src="{{item.urlToImage}}"alt="{{item.author}}"class="img"/><!-- imagen de la api -->
        </div>
        <div class="size-new">
          <h2 class="fs-1">{{item.title}}</h2><!-- titulo de la noticia -->
          <p class="fs-4">
            {{item.description}}<!-- descripcion de la noticia -->
          </p>
          <span class="iconify  btn-save fs-1" data-icon="fluent:save-edit-24-regular" ></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</main>
<pagination-controls (pageChange)="page=$event; dataNews=[];getNews()"></pagination-controls><!-- control de la paginación -->
